.hint {
  color: var(--color-accent);
  display: flex;
  justify-content: flex-end;
  padding-bottom: var(--size-s);
  font-size: var(--size-l);

  @media (max-width: 640px) {
    justify-content: flex-start;
  }
}
