.card {
  display: flex;
  flex-direction: column;
  position: relative;

  &.hover {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-color: var(--color-accent);
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  padding-bottom: calc(var(--size-m) + 3px);
}

.heading {
  margin: 0;
  font-size: calc(var(--size-l) + 2px);
  text-align: center;

  &Primary {
    font-weight: 700;
  }

  &Secondary {
    font-weight: 400;
  }
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  height: 286px;
  background-color: var(--color-gray-7);
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox: Use a thin scrollbar */
  scrollbar-color: var(--color-accent) var(--color-gray-7); /* Firefox: Custom scrollbar color */

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-2);
    }
  }
}

/* For WebKit browsers (Chrome, Safari) */
.cardWrapper::-webkit-scrollbar {
  width: var(--size-s);
}

.cardWrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-accent); /* Color of the scrollbar handle */
  // border-radius: 4px; /* Rounding the scrollbar edges */
}

.cardWrapper::-webkit-scrollbar-track {
  background-color: var(--color-gray-7); /* Color of the scrollbar track */
}

.addCta {
  margin: 0;
  padding: 13px 39px;
  outline: 0;
  border: 0;
  background-color: var(--color-gray-5);
  color: var(--color-white);
  font-size: calc(var(--size-l) + 2px);
  font-family: "Inter";
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.3s ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  @media (max-width: 1240px) {
    font-size: var(--size-l);
    padding: var(--size-s) var(--size-xl);
  }
}

.input,
.addedTime {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-accent);
  font-size: calc(var(--size-l) + 2px);
  padding: var(--size-m);
  color: var(--color-accent);
  font-family: "Inter";
  background-color: var(--color-white);
  height: 48px;
  margin-bottom: var(--size-m);

  @media (max-width: 1240px) {
    padding: calc(var(--size-s) - 2px);
    height: var(--size-xxl);
    margin-bottom: var(--size-s);
    font-size: var(--size-l);
  }
}

.addedTime {
  position: relative;

  &.isCopy {
    border-color: var(--color-gray-4);
    color: var(--color-gray-4);
  }

  &:hover {
    .removeCta {
      display: flex;
      cursor: pointer;
      position: absolute;
      right: calc(var(--size-m) - 2px);
    }
  }
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(26%) sepia(56%) saturate(5045%) hue-rotate(296deg)
    brightness(90%) contrast(103%);
  cursor: pointer;
}

.timesWrapper {
  display: flex;
  flex-direction: column;
}

.removeCta {
  display: none;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: transparent;
  border: 0;
}

.cancelIcon {
  width: 30px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  fill: var(--color-accent);

  @media (max-width: 1240px) {
    width: 16px;
  }
}

.isAutocompleteUsed {
  color: var(--color-gray-6);
  border-color: var(--color-gray-6);
  fill: var(--color-gray-6);

  & .cancelIcon {
    fill: var(--color-gray-6);
  }
}
