.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: var(--color-white);
  padding: var(--size-xl);
  border: 3px solid var(--color-black);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 504px;
  height: 274px;
  align-items: center;
  justify-content: center;
}
