.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: calc(var(--size-m) + 2px);

  @media (max-width: 640px) {
    flex-direction: column;
  }

  :global(.react-datepicker-popper) {
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid var(--color-gray-3);
  }

  @media (max-width: 460px) {
    justify-content: space-between;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure items are centered */
  padding-right: var(--size-m);

  @media (max-width: 640px) {
    flex-direction: row;
    padding-right: 0;
    gap: 8px;
    justify-content: space-between;
    padding-bottom: var(--size-s);
  }

  :global(.react-datepicker__close-icon) {
    &:after {
      background-color: var(--color-gray-6);
    }
  }
}

.label {
  font-size: calc(var(--size-l) + 2px);
  margin: 0;
  padding-bottom: calc(var(--size-l) + 2px);

  @media (max-width: 640px) {
    padding-bottom: 0;
  }

  &Secondary {
    align-self: flex-end;
    padding-bottom: calc(var(--size-l) - 2px);

    @media (max-width: 640px) {
      align-self: flex-start;
    }
  }
}

.datepicker {
  padding: var(--size-m) var(--size-xxl);
  width: 160px;
  font-size: calc(var(--size-l) + 2px);
  line-height: 1.21;

  @media (max-width: 360px) {
    width: 100px;
    padding: var(--size-s) var(--size-xl);
  }
}
