.container {
  display: flex;
  gap: var(--size-m);
  flex-wrap: wrap;
  position: relative;
  padding-bottom: calc(var(--size-m) + 2px);

  :global(.react-datepicker-popper) {
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 44px);
    bottom: 0;
    left: -44px; //Wrappper difference
    border-bottom: 1px solid var(--color-gray-3);
  }

  @media (max-width: 460px) {
    justify-content: space-between;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure items are centered */
}

.label {
  font-size: calc(var(--size-l) + 2px);
  margin: 0;
  padding-bottom: calc(var(--size-l) + 2px);

  &Secondary {
    align-self: flex-end;
    padding-bottom: calc(var(--size-l) - 2px);
  }
}

.datepicker {
  padding: var(--size-m) var(--size-xxl);
  width: 160px;
  font-size: calc(var(--size-l) + 2px);
  line-height: 1.21;

  @media (max-width: 360px) {
    width: 100px;
    padding: var(--size-s) var(--size-xl);
  }
}
