.container {
  position: relative;
  margin-top: calc(var(--size-xl) + var(--size-xs));

  :global(.swiper-scrollbar) {
    width: 100%;
    height: var(--size-m) !important;
    background-color: transparent !important;
    position: absolute;
    bottom: 0;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: var(--color-black);
    }
  }

  :global(.swiper-scrollbar-drag) {
    height: 100%;
    background-color: var(--color-black);
    top: 0;
  }
}

.swiper {
  padding-bottom: 80px;
}

.carouselActions {
  position: absolute;
  top: -58px; //calc from arrows height + m-top container + p-bottom of datepicke
  right: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  z-index: 10;
}

.carouselBtn {
  width: calc(var(--size-l) + 2px);
  aspect-ratio: 1/1;
  flex-shrink: 0;
  fill: var(--color-black);
  cursor: pointer;
}

.disabled {
  opacity: 30%;
  pointer-events: none;
}

.message {
  position: absolute;
  bottom: -26px; //message height and design bottom positon
  margin: 0;
  font-size: calc(var(--size-l) + 2px);
  color: var(--color-accent);
  left: 50%;
  transform: translateX(-50%);
}

// ------------XLS-----------
.xlsContainer {
  display: none;
}

.tableXls {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    background-color: var(--color-white);
    padding: var(--size-s) var(--size-l);
    font-size: var(--size-m);
    text-align: center;
  }
}
