@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #f4f4f4;
  --color-gray-2: #d8d8d8;
  --color-gray-3: #c8c8c8;
  --color-gray-4: #acacac;
  --color-gray-5: #5c5c5c;
  --color-gray-6: #303030;
  --color-gray-7: #f5f5f5;
  --color-accent: #e11bb6;

  --size-xxxl: 40px;
  --size-xxl: 32px;
  --size-xl: 24px;
  --size-l: 16px;
  --size-m: 12px;
  --size-s: 8px;
  --size-xs: 4px;
}

body {
  line-height: 1.21;
  margin: 0;
  font-family: "Inter" !important;
  background-color: var(--color-white);
}

* {
  box-sizing: border-box;
  min-width: 0;
}
