.container {
  margin-block: 37px 33px;
  width: 100%;

  @media (max-width: 640px) {
    margin-block: var(--size-l);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--size-m);
  flex-wrap: wrap;

  @media (max-width: 640px) {
    justify-content: flex-start;
  }
}

.modalHeader {
  margin: 0 0 39px 0;
  font-size: var(--size-xxl);
  font-weight: 400;
  text-align: center;
}
